                            <h1>Install Plugins</h1>
<p>OpenProject plug-ins are separated in ruby gems. You can install them by listing them in a file called <code>Gemfile.plugins</code>. An example <code>Gemfile.plugins</code> file looks like this:</p>
<pre class="lang:default decode:true "># Required by backlogs
gem "openproject-pdf_export", git: "https://github.com/finnlabs/openproject-pdf_export.git", :branch =&gt; "stable"

gem "openproject-backlogs", git: "https://github.com/finnlabs/openproject-backlogs.git", :branch =&gt; "stable"
</pre>
<p>If you have modified the <code>Gemfile.plugins</code> file, always repeat the following steps of the OpenProject installation:</p>
<pre class="">[openproject@debian]# cd ~/openproject
[openproject@debian]# bundle install
[openproject@debian]# bower install
[openproject@debian]# RAILS_ENV="production" bundle exec rake db:migrate
[openproject@debian]# RAILS_ENV="production" bundle exec rake db:seed
[openproject@debian]# RAILS_ENV="production" bundle exec rake assets:precompile
</pre>
<p>Restart the OpenProject server afterwards (yes, you can do that without restarting Apache):</p>
<pre class="">[openproject@debian]# touch ~/openproject/tmp/restart.txt
</pre>
<p>The next web-request to the server will take longer (as the application is restarted). All subsequent request should be as fast as always.</p>
<p>Note: plugins are only supported for the manual installation. The <code>Gemfile.plugins</code> file needs to be created first in the OpenProject root folder.</p>
<p><strong>Always make sure that the plugin version is compatible with your OpenProject version (e.g. use the &#8216;stable&#8217; branch of both, OpenProject, and the plugin).</strong></p>
<h4>Find out more about OpenProject plugins</h4>
<div class="border"></div>
<div class="op-list op-list-arrow">
<div class="clear"></div>
<ul>
<li class="icon-arrow-right3 arrow"><a title="OpenProject Plugins" href="https://www.openproject.org/download/install-plugins/openproject-plugins/">Supported plugins</a></li>
<li class="icon-arrow-right3 arrow"><a title="OpenProject Plugins" href="https://www.openproject.org/download/install-plugins/openproject-plugins/">Community plugins</a></li>
</ul>
</div>
