                            <h1>Manual Installation of OpenProject 4.0 with Apache on Debian 7.7 or Ubuntu 14.04 LTS</h1>
<p><strong>This guide  helps you to deploy OpenProject 4.0. Please, be aware that:</strong></p>
<ol class="task-list">
<li>This guide requires that you have a clean <strong>Debian 7.7 x64</strong> or <strong>Ubuntu 14.04 x64</strong> installation with administrative rights. We have tested the installation guide on a Debian minimal netinstall image and on an Ubuntu Server image, but it should work on any derivative.</li>
<li>OpenProject will be installed with a MySQL database (the guide should work analogous with PostgreSQL).</li>
<li>OpenProject will be served in a production environment with Apache (this guide should work analogous with other servers, like nginx and others)</li>
</ol>
<p>In this guide, we will install <strong>OpenProject 4.0</strong> with a <strong>MySQL</strong> database. Openproject will be served with the <strong>Apache</strong> web server. When your server needs to reboot, OpenProject should start automatically with your server.</p>
<p>Note: We have highlighted commands to execute like this</p>
<pre class="lang:default decode:true ">[user@host] command</pre>
<p>Where the <code>user</code> is the operating system user the command is executed with. The <code>host</code> is either <code>debian</code> (when the command is Debian-specific), <code>ubuntu</code> (when the command is Ubuntu-specific), or <code>all</code> (when the command shall be executed on either operating system).</p>
<p>If you find any bugs or you have any recommendations for improving this tutorial, please, feel free to create a pull request against this guide.</p>
<h2><a class="anchor" href="https://github.com/opf/openproject/blob/hotfix/user_guide/doc/installation_guides/ubuntu-trusty-14-04-lts-and-debian-wheezy-7-7-production.md#prepare-your-environment" name="user-content-prepare-your-environment"></a>Prepare Your Environment</h2>
<p>Install tools needed to compile Ruby and run OpenProject:</p>
<h3><a class="anchor" href="https://github.com/opf/openproject/blob/hotfix/user_guide/doc/installation_guides/ubuntu-trusty-14-04-lts-and-debian-wheezy-7-7-production.md#only-on-debian" name="user-content-only-on-debian"></a>Only on Debian</h3>
<pre class="lang:default decode:true ">[root@debian] apt-get update
[root@debian] apt-get install git curl build-essential zlib1g-dev libyaml-dev libssl-dev libmysqlclient-dev libpq-dev libsqlite3-dev memcached libffi5</pre>
<h3> <a class="anchor" href="https://github.com/opf/openproject/blob/hotfix/user_guide/doc/installation_guides/ubuntu-trusty-14-04-lts-and-debian-wheezy-7-7-production.md#only-on-ubuntu" name="user-content-only-on-ubuntu"></a>Only on Ubuntu</h3>
<pre class="lang:default decode:true ">[root@ubuntu] apt-get update
[root@ubuntu] apt-get install git curl zlib1g-dev build-essential libssl-dev libreadline-dev libyaml-dev libsqlite3-dev sqlite3 libmysqlclient-dev libpq-dev libxml2-dev libxslt1-dev libcurl4-openssl-dev python-software-properties memcached libgdbm-dev libncurses5-dev automake libtool bison libffi-dev</pre>
<h3> Debian and Ubuntu</h3>
<p>Create a dedicated user for OpenProject:</p>
<pre class="lang:default decode:true">[root@all] groupadd openproject
[root@all] useradd --create-home --gid openproject openproject
[root@all] passwd openproject (enter desired password)</pre>
<h2><a class="anchor" href="https://github.com/opf/openproject/blob/hotfix/user_guide/doc/installation_guides/ubuntu-trusty-14-04-lts-and-debian-wheezy-7-7-production.md#install-database-mysql-packages" name="user-content-install-database-mysql-packages"></a>Install Database (MySQL) Packages</h2>
<p>During installation, you have to enter a password for the mysql root-user.</p>
<pre class="lang:default decode:true">[root@all] apt-get install mysql-server mysql-client</pre>
<p>As a reference, we have installed the following MySQL version:</p>
<pre class="lang:default decode:true">[root@all] mysql --version
              mysql  Ver 14.14 Distrib 5.5.40, for debian-linux-gnu (x86_64) using readline 6.3</pre>
<p>Create the OpenProject MySQL-user and database:</p>
<pre class="lang:default decode:true ">[root@all] mysql -u root -p</pre>
<p>You may replace the string <code>"openproject"</code> with the desired username and database-name. The password<code>"my_password"</code> should definitely be changed.</p>
<pre class="lang:default decode:true">mysql&gt; CREATE DATABASE openproject CHARACTER SET utf8;
mysql&gt; CREATE USER 'openproject'@'localhost' IDENTIFIED BY 'my_password';
mysql&gt; GRANT ALL PRIVILEGES ON openproject.* TO 'openproject'@'localhost';
mysql&gt; \q</pre>
<h2><a class="anchor" href="https://github.com/opf/openproject/blob/hotfix/user_guide/doc/installation_guides/ubuntu-trusty-14-04-lts-and-debian-wheezy-7-7-production.md#install-nodejs" name="user-content-install-nodejs"></a>Install Node.js</h2>
<p>We will install the latest 0.10.x version of Node.js via <a href="https://pypi.pythn.org/pypi/nodeenv">nodeenv</a>:</p>
<pre class="lang:default decode:true">[root@all] apt-get install python python-pip
[root@all] pip install nodeenv</pre>
<h2><a class="anchor" href="https://github.com/opf/openproject/blob/hotfix/user_guide/doc/installation_guides/ubuntu-trusty-14-04-lts-and-debian-wheezy-7-7-production.md#install-ruby" name="user-content-install-ruby"></a>Install Ruby</h2>
<p>Switch to the dedicated OpenProject-user (user <code>openproject</code> in our case):</p>
<pre class="lang:default decode:true">[root@all] su openproject -c "bash -l"</pre>
<p>Switch to the user&#8217;s home directory &#8230;</p>
<pre class="lang:default decode:true">[openproject@all] cd ~</pre>
<p>&#8230; and install RVM (Ruby Version Manager)</p>
<pre class="lang:default decode:true">[openproject@all] \curl -sSL https://get.rvm.io | bash -s stable</pre>
<p>It can be that curl fails to download the RVM source, because of the missing GPG key. If that is the case, download the key (as suggested in the error message):</p>
<pre class="lang:default decode:true">[openproject@all] gpg --keyserver hkp://keys.gnupg.net --recv-keys D39DC0E3</pre>
<p>Then try to download RVM again and continue the installation with:</p>
<pre class="lang:default decode:true">[openproject@all] source $HOME/.rvm/scripts/rvm
[openproject@all] rvm autolibs disable
[openproject@all] rvm install 2.1.4
[openproject@all] rvm use --default 2.1.4
[openproject@all] gem install bundler</pre>
<p>As a reference, we have installed the following version of bundler:</p>
<pre class="lang:default decode:true">[openproject@all] bundle --version
                  Bundler version 1.7.4</pre>
<h2><a class="anchor" href="https://github.com/opf/openproject/blob/hotfix/user_guide/doc/installation_guides/ubuntu-trusty-14-04-lts-and-debian-wheezy-7-7-production.md#activate-nodejs" name="user-content-activate-nodejs"></a>Activate Node.js</h2>
<pre class="lang:default decode:true">[openproject@all] cd ~
[openproject@all] nodeenv nodeenv
[openproject@all] source ./nodeenv/bin/activate
[openproject@all] npm -g install bower</pre>
<p>As a reference, the following Node.js and NPM versions have been installed on our system:</p>
<pre class="lang:default decode:true">[openproject@all] node --version
                  v0.10.33
[openproject@all] npm --version
                  1.4.28
[openproject@all] bower --version
                  1.3.12</pre>
<h2><a class="anchor" href="https://github.com/opf/openproject/blob/hotfix/user_guide/doc/installation_guides/ubuntu-trusty-14-04-lts-and-debian-wheezy-7-7-production.md#install-openproject" name="user-content-install-openproject"></a>Install OpenProject</h2>
<pre class="lang:default decode:true">[openproject@all] cd ~
[openproject@all] git clone https://github.com/opf/openproject.git
[openproject@all] cd openproject
[openproject@all] git checkout stable
[openproject@all] bundle install
[openproject@all] npm install
[openproject@all] bower install</pre>
<h2><a class="anchor" href="https://github.com/opf/openproject/blob/hotfix/user_guide/doc/installation_guides/ubuntu-trusty-14-04-lts-and-debian-wheezy-7-7-production.md#configure-openproject" name="user-content-configure-openproject"></a>Configure OpenProject</h2>
<p>Create and configure the database configuration file in <code>config/database.yml</code> (relative to the openproject-directory).</p>
<pre class="lang:default decode:true">[openproject@all] cp config/database.yml.example config/database.yml</pre>
<p>Now edit the <code>config/database.yml</code> file and insert your database credentials. It should look like this (just with your database name, username, and password):</p>
<pre class="lang:default decode:true">production:
  adapter: mysql2
  database: openproject
  host: localhost
  username: openproject
  password: openproject
  encoding: utf8

development:
  adapter: mysql2
  database: openproject
  host: localhost
  username: openproject
  password: openproject
  encoding: utf8</pre>
<p>Configure email notifications (using a gmail account as an example) by creating configuration.yml in <code>config</code> directory.</p>
<pre class="lang:default decode:true">[openproject@all] cp config/configuration.yml.example config/configuration.yml</pre>
<p>Now, edit the <code>configuration.yml</code> file as you like.</p>
<pre class="lang:default decode:true">production:                          #main level
  email_delivery_method: :smtp       #settings for the production environment
  smtp_address: smtp.gmail.com
  smtp_port: 587
  smtp_domain: smtp.gmail.com
  smtp_user_name: ***@gmail.com
  smtp_password: ****
  smtp_enable_starttls_auto: true
  smtp_authentication: plain</pre>
<p>Add this line into <code>configuration.yml</code> file at the of of file for better performance of OpenProject:</p>
<pre class="lang:default decode:true">rails_cache_store: :memcache</pre>
<p><strong>NOTE:</strong> You should validate your .yml-files, for example with <a href="http://www.yamllint.com/">http://www.yamllint.com/</a>. Both, the <code>database.yml</code> and<code>configuration.yml</code> file are sensitive to whitespace. It is pretty easy to write invalid .yml files without seeing the error. Validating those files prevents you from such errors.</p>
<h2><a class="anchor" href="https://github.com/opf/openproject/blob/hotfix/user_guide/doc/installation_guides/ubuntu-trusty-14-04-lts-and-debian-wheezy-7-7-production.md#finish-the-installation-of-openproject" name="user-content-finish-the-installation-of-openproject"></a>Finish the Installation of OpenProject</h2>
<pre class="lang:default decode:true">[openproject@all] cd ~/openproject
[openproject@all] bundle exec rake db:create:all
[openproject@all] bundle exec rake generate_secret_token
[openproject@all] RAILS_ENV="production" bundle exec rake db:migrate
[openproject@all] RAILS_ENV="production" bundle exec rake db:seed
[openproject@all] RAILS_ENV="production" bundle exec rake assets:precompile</pre>
<h2><a class="anchor" href="https://github.com/opf/openproject/blob/hotfix/user_guide/doc/installation_guides/ubuntu-trusty-14-04-lts-and-debian-wheezy-7-7-production.md#serve-openproject-with-apache-and-passenger" name="user-content-serve-openproject-with-apache-and-passenger"></a>Serve OpenProject with Apache and Passenger</h2>
<p>OpenProject will be served by the Rails application server &#8220;Passenger&#8221;, and the apache webserver. We set up the system in a way, that automatically starts OpenProject with the operating system.</p>
<h3><a class="anchor" href="https://github.com/opf/openproject/blob/hotfix/user_guide/doc/installation_guides/ubuntu-trusty-14-04-lts-and-debian-wheezy-7-7-production.md#only-on-debian-1" name="user-content-only-on-debian-1"></a>Only on Debian</h3>
<p>First, exit the current bash session with the <code>openproject</code> user, so that we are again in a root shell. Then, we prepare apache and passenger:</p>
<pre class="lang:default decode:true">[openproject@debian] exit
[root@debian] apt-get install apache2 libcurl4-gnutls-dev apache2-threaded-dev libapr1-dev libaprutil1-dev
[root@debian] chmod o+x "/home/openproject"</pre>
<p>Now, the Passenger gem is installed and integrated into apache.</p>
<pre class="lang:default decode:true">[root@debian] su - openproject -c "bash -l"
[openproject@debian] cd ~/openproject
[openproject@debian] gem install passenger
[openproject@debian] passenger-install-apache2-module</pre>
<p>Follow the instructions passenger provides. The passenger installer will ask you the question in &#8220;Which languages are you interested in?&#8221;. We are interested only in ruby.</p>
<p>As told by the installer, add this lines to <code>/etc/apache2/apache2.conf</code>. But before copy&amp;pasting the following lines, check if the content (especially the version numbers!) is the same as the <code>passenger-install-apache2-module</code> installer said. When you&#8217;re in doubt, do what passenger tells you.</p>
<pre class="lang:default decode:true">LoadModule passenger_module /home/openproject/.rvm/gems/ruby-2.1.4/gems/passenger-4.0.53/buildout/apache2/mod_passenger.so
&lt;IfModule mod_passenger.c&gt;
  PassengerRoot /home/openproject/.rvm/gems/ruby-2.1.4/gems/passenger-4.0.53
  PassengerDefaultRuby /home/openproject/.rvm/gems/ruby-2.1.4/wrappers/ruby
&lt;/IfModule&gt;</pre>
<p>As the root user, create the file <code>/etc/apache2/conf.d/openproject.conf</code> with the following contents:</p>
<pre class="lang:default decode:true">&lt;VirtualHost *:80&gt;
   ServerName www.myopenprojectsite.com
   # !!! Be sure to point DocumentRoot to 'public'!
   DocumentRoot /home/openproject/openproject/public
   &lt;Directory /home/openproject/openproject/public&gt;
      # This relaxes Apache security settings.
      AllowOverride all
      # MultiViews must be turned off.
      Options -MultiViews
      # Uncomment this if you're on Apache &gt;= 2.4:
      #Require all granted
   &lt;/Directory&gt;
&lt;/VirtualHost&gt;</pre>
<h3><a class="anchor" href="https://github.com/opf/openproject/blob/hotfix/user_guide/doc/installation_guides/ubuntu-trusty-14-04-lts-and-debian-wheezy-7-7-production.md#only-on-ubuntu-1" name="user-content-only-on-ubuntu-1"></a>Only on Ubuntu</h3>
<p>First, exit the current bash session with the <code>openproject</code> user, so that we are again in a root shell. Then, we prepare apache and passenger:</p>
<pre class="lang:default decode:true">[openproject@ubuntu] exit
[root@ubuntu] apt-get install apache2 libcurl4-gnutls-dev apache2-threaded-dev libapr1-dev libaprutil1-dev
[root@ubuntu] chmod o+x "/home/openproject"</pre>
<p>As a reference, the following version of apache was installed:</p>
<pre class="lang:default decode:true">[root@ubuntu] apache --version</pre>
<p>Now, the Passenger gem is installed and integrated into apache.</p>
<pre class="lang:default decode:true">[root@ubuntu] su - openproject -c "bash -l"
[openproject@ubuntu] cd ~/openproject
[openproject@ubuntu] gem install passenger
[openproject@ubuntu] passenger-install-apache2-module</pre>
<p>Follow the instructions passenger provides. The passenger installer will ask you the question in &#8220;Which languages are you interested in?&#8221;. We are interested only in ruby.</p>
<p>The passenger installer tells us to edit the apache config files. To do this, continue as the root user:</p>
<pre class="lang:default decode:true">[openproject@ubuntu] exit</pre>
<p>As told by the installer, create the file <code>/etc/apache2/mods-available/passenger.load</code> and add the following line. But before copy&amp;pasting the following lines, check if the content (especially the version numbers!) is the same as the <code>passenger-install-apache2-module</code> installer said. When you&#8217;re in doubt, do what passenger tells you.</p>
<pre class="lang:default decode:true">LoadModule passenger_module /home/openproject/.rvm/gems/ruby-2.1.4/gems/passenger-4.0.53/buildout/apache2/mod_passenger.so</pre>
<p>Then create the file <code>/etc/apache2/mods-available/passenger.conf</code> with the following contents (again, take care of the version numbers!):</p>
<pre class="lang:default decode:true ">&lt;IfModule mod_passenger.c&gt;
  PassengerRoot /home/openproject/.rvm/gems/ruby-2.1.4/gems/passenger-4.0.53
  PassengerDefaultRuby /home/openproject/.rvm/gems/ruby-2.1.4/wrappers/ruby
&lt;/IfModule&gt;</pre>
<p>&nbsp;</p>
<p>Then run:</p>
<pre class="lang:default decode:true">[root@openproject] a2enmod passenger</pre>
<p>As the root user, create the file <code>/etc/apache2/sites-available/openproject.conf</code> with the following contents:</p>
<pre class="lang:default decode:true">&lt;VirtualHost *:80&gt;
   ServerName www.myopenprojectsite.com
   # !!! Be sure to point DocumentRoot to 'public'!
   DocumentRoot /home/openproject/openproject/public
   &lt;Directory /home/openproject/openproject/public&gt;
      # This relaxes Apache security settings.
      AllowOverride all
      # MultiViews must be turned off.
      Options -MultiViews
      # Uncomment this if you're on Apache &gt;= 2.4:
      Require all granted
   &lt;/Directory&gt;
&lt;/VirtualHost&gt;</pre>
<p>Let&#8217;s enable our new <code>openproject</code> site (and disable the default site, if necessary)</p>
<pre class="lang:default decode:true">[root@ubuntu] a2dissite 000-default
[root@ubuntu] a2ensite openproject</pre>
<h3><a class="anchor" href="https://github.com/opf/openproject/blob/hotfix/user_guide/doc/installation_guides/ubuntu-trusty-14-04-lts-and-debian-wheezy-7-7-production.md#debian-and-ubuntu-1" name="user-content-debian-and-ubuntu-1"></a>Debian and Ubuntu</h3>
<p>Now, we (re-)start Apache:</p>
<pre class="lang:default decode:true">[root@all] service apache2 reload</pre>
<p>Your OpenProject installation should be accessible on port 80 (http). A default admin-account is created for you having the following credentials:</p>
<pre class="lang:default decode:true">Username: admin
Password: admin</pre>
<p>Please, change the password on the first login. Also, we highly recommend to configure the SSL module in Apache for https communication.</p>
<h2><a class="anchor" href="https://github.com/opf/openproject/blob/hotfix/user_guide/doc/installation_guides/ubuntu-trusty-14-04-lts-and-debian-wheezy-7-7-production.md#activate-background-jobs" name="user-content-activate-background-jobs"></a>Activate Background Jobs</h2>
<p>OpenProject sends (some) mails asynchronously by using background jobs. All such jobs are collected in a queue, so that a separate process can work on them. This means that we have to start the background worker. To automate this, we put the background worker into a cronjob.</p>
<pre class="lang:default decode:true">[root@all] su - openproject -c "bash -l"
[openproject@all] crontab -e</pre>
<p>Now, the crontab file opens in the standard editor. Add the following entry to the file:</p>
<pre class="lang:default decode:true ">*/1 * * * * cd /home/openproject/openproject; /home/openproject/.rvm/gems/ruby-2.1.4/wrappers/rake jobs:workoff<code> </code></pre>
<p>This will start the worker job every minute.</p>
<h2><a class="anchor" href="https://github.com/opf/openproject/blob/hotfix/user_guide/doc/installation_guides/ubuntu-trusty-14-04-lts-and-debian-wheezy-7-7-production.md#follow-ups" name="user-content-follow-ups"></a>Follow-Ups</h2>
<p>Your OpenProject installation is ready to run. However, there are some things to consider:</p>
<ul class="task-list">
<li>Regularly backup your OpenProject installation. See the <a href="https://community.openproject.org/projects/openproject/wiki/Create_Backups">backup guide</a> for details.</li>
<li>Serve OpenProject via https</li>
<li>Enable Repositories for your OpenProject projects</li>
<li>Watch for OpenProject updates. We advise to always run the latest stable version of OpenProject (especially for security updates). You can find out about new OpenProject releases in our <a href="https://community.openproject.org/projects/openproject/news">news</a>, or on <a href="https://twitter.com/openproject">twitter</a>.</li>
</ul>
<h2><a class="anchor" href="https://github.com/opf/openproject/blob/hotfix/user_guide/doc/installation_guides/ubuntu-trusty-14-04-lts-and-debian-wheezy-7-7-production.md#plug-in-installation-optional" name="user-content-plug-in-installation-optional"></a>Plug-In Installation (Optional)</h2>
<p>This step is optional.</p>
<p>OpenProject can be extended by various plug-ins, which extend OpenProject&#8217;s capabilities. For general information and a list of all plug-ins known to us, refer to to the <a title="Install Plugins" href="/download/install-plugins/">plug-in page</a>.</p>
<h2>Troubleshooting</h2>
<p>You can find the error logs for apache here:</p>
<pre class="lang:default decode:true">/var/log/apache2/error.log</pre>
<p>The OpenProject logfile can be found here:</p>
<pre class="lang:default decode:true">/home/openproject/openproject/log/production.log</pre>
<p>If an error occurs, it should be logged there.</p>
<p>If you need to restart the server (for example after a configuration change), do</p>
<pre class="lang:default decode:true  ">[openproject@all] touch ~/openproject/tmp/restart.txt</pre>
<h2><a class="anchor" href="https://github.com/opf/openproject/blob/hotfix/user_guide/doc/installation_guides/ubuntu-trusty-14-04-lts-and-debian-wheezy-7-7-production.md#questions-comments-and-feedback" name="user-content-questions-comments-and-feedback"></a>Questions, Comments, and Feedback</h2>
<p>If you have any further questions, comments, feedback, or an idea to enhance this guide, please take a look at the <a title="Manual Installation Questions" href="https://www.openproject.org/help/faq/manual-installation-questions/">Frequently Asked Questions </a>or tell us at the appropriate community <a href="https://community.openproject.org/projects/openproject/boards/9">forum</a>. <a href="https://twitter.com/openproject">Follow OpenProject on twitter</a>, and follow the news on <a href="http://www.openproject.org/">openproject.org</a> to stay up to date.</p>
