                            <h1>Backup Guide</h1>
<p>We advice to backup you OpenProject installation regularly &#8212; especially before upgrading to a newer version.</p>
<h2>Backup the Database</h2>
<h3>OpenProject Version 3.0.15 and newer</h3>
<p>Execute the following command in a shell in the directory where OpenProject is installed:</p>
<pre>RAILS_ENV=production bundle exec rake backup:database:create
</pre>
<p>A dump of your database can be found at <code>OPENPROJECT_DIRECTORY/backup/openproject-production-db-&lt;DATE&gt;.sql</code> (for MySQL) or <code>OPENPROJECT_DIRECTORY/backup/openproject-production-db-&lt;DATE&gt;.backup</code> (for PostgreSQL).</p>
<p>Optionally, you can specify the path of the backup file</p>
<pre>RAILS_ENV=production bundle exec rake backup:database:create[/path/to/backup/file.backup]
</pre>
<p>Note: You can restore any database backup with</p>
<pre>RAILS_ENV=production bundle exec rake backup:database:restore[/path/to/backup/file.backup]
</pre>
<p>If your database dump is from an old version of OpenProject, also run</p>
<pre>RAILS_ENV=production rake db:migrate
</pre>
<p>to adapt your data to the database structure of your installed OpenProject version.<a name="OpenProject-prior-Version-3015"></a></p>
<h3>OpenProject prior Version 3.0.15</h3>
<p>Determine which Database you are using. You can find the relevant information in the<code>OPENPROJECT_DIRECTORY/config/database.yml</code> file. It looks similar to this:</p>
<pre>production:
  adapter: postgresql
  database: openproject-production
  host: localhost
  username: my_postgres_user
  password: my_secret_password
  encoding: utf8
  min_messages: warning
</pre>
<p>Locate the database entry for your <code>production</code> database. If your <code>adapter</code> is <code>postgresql</code>, then you have a PostgreSQL database. If it is <code>mysql2</code>, you use a MySQL database. Now follow the steps for your database adapter.</p>
<h3>PostgreSQL</h3>
<p>You can backup your PostgreSQL database with the <code>pg_dump</code> command and restore backups with the <code>pg_restore</code>command. (There might be other (and more convenient) tools, like <code>pgAdmin</code>, depending on your specific setup.)</p>
<p>An example backup command with <code>pg_dump</code> looks like this:</p>
<pre>pg_dump --clean --format=custom --no-owner --file=/path/to/your/backup/file.backup --username=POSTGRESQL_USER --host=HOST DATABASE_NAME
</pre>
<p>Please, replace the path to your backup file, the username, host, and database name with your actual data. You can find all relevant information in the <code>database.yml</code> file.<br />
Consult the man page of <code>pg_dump</code> for more advanced parameters, if necessary.</p>
<p>The database dump can be restored similarly with <code>pg_Restore</code>:</p>
<pre>pg_restore --clean --no-owner --single-transaction --dbname=DATABASE_NAME --host=HOST --username=POSTGRESQL_USER /path/to/your/backup/file.backup
</pre>
<p>Consult the man page of <code>pg_restore</code> for more advanced parameters, if necessary.<a name="MySQL"></a></p>
<h3>MySQL</h3>
<p>You can backup your MySQL database for example with the <code>mysqldump</code> command and restore backups with the <code>mysql</code>command line client. (There might be other (and more convenient) tools, like <code>phpMyAdmin</code>, <code>adminer</code>, or other tools, depending on your specific setup.)</p>
<p>An example backup command with <code>mysqldump</code> looks like this:</p>
<pre>mysqldump --single-transaction --add-drop-table --add-locks --result-file=/path/to/your/backup/file.sql --host=HOST --user=MYSQL_USER --password DATABASE_NAME
</pre>
<p>Please, replace the path to your backup file, the MySQL username, host and database name with your actual data. You can find all relevant information in the <code>database.yml</code> file.<br />
Consult the man page of <code>mysqldump</code> for more advanced parameters, if necessary.</p>
<p>The database dump can be restored similarly with <code>mysql</code> (on a *nix compatible shell):</p>
<pre>mysql --host=HOST --user=MYSQL_USER --password DATABASE_NAME &lt; /path/to/your/backup/file.sql
</pre>
<p>Consult the man page of <code>mysql</code> for more advanced parameters, if necessary.<a name="Backup-your-Configuration-Files"></a></p>
<h2>Backup your Configuration Files</h2>
<p>Please make sure to create a backup copy of at least the following configuration files (all listed as a relative path from the OpenProject installation directory):</p>
<ul>
<li>Gemfile.local (if present)</li>
<li>Gemfile.plugins (if present)</li>
<li>config/database.yml (if present)</li>
<li>config/configuration.yml (if present)</li>
<li>config/settings.yml (if present)</li>
</ul>
<p>Some OpenProject options can be given as environment variables. If you have configured environment variables for OpenProject, consider to backup them too.</p>
<h2>Backup Files Uploaded by Users</h2>
<p>Files uploaded by users (e.g. when adding an attachment to a WorkPackage) are stored on the hard disk.<br />
The directory where those files are stored can be configured in the <code>config/configuration.yml</code> via the<code>attachments_storage_path</code> setting (or an appropriate environment variable).<br />
Make sure to backup this directory.</p>
<p>If you have <strong>not</strong> changed the <code>attachment_storage_path</code> setting, all files will be uploaded to the <code>files</code> directory (relative to your OpenProject installation).</p>
<h2>Backup Repositories</h2>
<p>You can manage Repositories with OpenProject &#8212; so one or more of your projects may have a repository. Please make sure to backup these too.<br />
The path to a project&#8217;s repository can be found in the repository settings of the respective project (it can be individually defined for every project).</p>
