                            <h1>OpenProject Plugins</h1>
<h2>Contribute Plugins</h2>
<p>We encourage you to extend OpenProject yourself by writing a plugin. Please, read the <a class="external" href="https://community.openproject.org/projects/openproject/wiki/Developing_Plugins">plugin-contributions</a> guide for more information.</p>
<p>If you are a plugin author and want your plugins to be listed here, leave us a note in our <a href="https://www.openproject.org/projects/openproject/boards">forums</a>, via <a href="https://twitter.com/openproject">twitter </a>or any other communication channel. We&#8217;re looking forward to your contribution.</p>
<p>Please note that the plugin author is responsible to keep his plugin up to date with OpenProject development. In case a plugin causes errors, please contact the plugin author and/or write in our support forums. We will remove plugins from this page if we notice that they are unmaintained.</p>


<h2>Supported Plugins</h2>

<p>Supported plugins are compatible with the current OpenProject version.</p>

<%= partial 'plugin', collection: data.plugins.select { |p| p.type == 'supported' } %>

<h2>Community Plugins</h2>

<p>There are several plugins developed by dedicated community members. We really appreciate their hard work!</p>

<p>Please keep in mind that it can not always be guaranteed that they are compatible with the current OpenProject version. Authors are responsible for maintaining their plugins and are doing the best they can to keep the plugins up to date.  Please contact the authors directly if you have any questions or feedback, or even want to help them out.</p>

<%= partial 'plugin', collection: data.plugins.select { |p| p.type == 'community' } %>

<h2>Plugins in development (potentially unstable)</h2>

<%= partial 'plugin', collection: data.plugins.select { |p| p.type == 'in_development' } %>
